.inventory-table-container {
  td:hover:not(:first-child) {
    background-color: #eee;
    @include box-shadow(#333 1.5px 1.5px 3px);
    cursor: pointer;
  }
  th {
    text-align: center;
  }
  td {
    text-align: center;
    @include transition-property(background-color);
    @include transition-duration(300ms);
    @include transition-timing-function(ease-out);
  }
  .table {
    table-layout: fixed;
  }
}