@import "components/d3-vector-canvas";
@import "components/webcam-input";
@import "components/inventory-table";
@import "components/news-ticker";
@import "components/video-proxy";
@import "components/form-input";
@import "components/pagination";
@import "components/responsive-table";
@import "components/panel-collapsible";
@import "components/ember-list";

#annoyed-flash {
  &.hidden {
    display: none;
  }
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 500;
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
}