@import "components/d3-vector-canvas";
@import "components/webcam-input";
@import "components/inventory-table";
@import "components/news-ticker";
@import "components/video-proxy";
@import "components/form-input";
@import "components/pagination";
@import "components/responsive-table";
@import "components/panel-collapsible";

.ember-list-view {
  overflow: auto;
  position: relative;
}
.ember-list-item-view {
  position: absolute;
}