<table class="table table-hover table-bordered inventory-table-container">
  <thead>
    <tr>
      <th>appt in</th>
      <th>material</th>
      <th>arrived at</th>
      <th>owner</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |tile|}}
      <tr>

      </tr>
    {{else}}
      <tr>
        <td>You don't have anything!</td>
      </tr>
    {{/each}}
  </tbody>
</table>