#barn-modal {
  .modal-title {
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-size: 1.75rem;
    text-transform: capitalize;
    border-bottom: 1px solid #bbb;
  }
  .actions {
    margin-top: 15px;
    text-align: right;
  }
}