@import "compass/css3";
@import "common";
@import "components";
@import "modals";
@import "contracts";
html {
  background-color: #eee;
}

.debug {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
}
$material-blue: #BBDEFB;
#sidebar {
  @include display-flex;
  @include justify-content(center);
  @include align-items(center);
  @include box-shadow(lighten(#333, 25%) -2px 0px 5px);
  z-index: 1;
  position: fixed;
  right: 0px;
  top: 0px;
  height: 90%;
  width: 150px;
  background-color: $material-blue;
  border-left: 2px solid #EFEBE9;
  .side-nav {
    
  }
  img.icon-nav {
    height: 100%;
  }
  .square {
    height: 100px;
    text-transform: capitalize;
    @include box-shadow(lighten(#333, 25%) 3px 2px 5px);
  }
}

#corner {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 225px;
  height: 200px;
  z-index: 3;
  background-color: $material-blue;
  border-top: 2px solid #EFEBE9;
  border-left: 2px solid #EFEBE9;
  @include box-shadow(lighten(#333, 25%) -2px -2px 5px);
  @include display-flex;
  @include justify-content(center);
  @include align-items(center); 
  img.icon-nav {
    height: 175px;
  }
}

#footer {
  @include box-shadow(lighten(#333, 25%) 0px -2px 5px);
  z-index: 2;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding-left: 15px;
  background-color: $material-blue;
  border-top: 2px solid #EFEBE9;
  .news-ticker {
    background-color: darken(#0D47A1, 25%);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
  }
  .feed {
    color: #00BCD4;
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: underline;
    text-transform: capitalize;
    margin-left: 15px;
    margin-right: 15px;
  }
  .info-box {
    text-align: center;
    padding: 10px;
    border: 2px solid darken(#0D47A1, 25%);
    background-color: #eee;
    margin-bottom: 15px;
  }
  .info-title {
    font-weight: bold;
    margin-right: 15px;
    &::after {
      content: ":";
    }
  }
}